
* {font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    }
                                                                                                                                                              }
.main-menu {
    text-align: center;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
}
.menu-items {
    display: inline;
    margin-right: 36px;
    margin-left: 36px;
}
.menu-text {
    color: #FF0000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
img {
    width: 100%;
    text-align: center;
}
.container {
    width: 1280px;
    margin: 0 auto;
    color: #373737;
}
.page-content {
    text-align: center;
}

.section-title{
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
    margin-top: 49px;

}
.section-text {
    font-weight: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 28px;
}

.start {
    width: 191px;
    height: 51px;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 56px;

}
.footer-text {
    font-weight: bold;
    letter-spacing: 2.4px;
    text-align: right;
    margin-bottom: 29px;
    margin-top: 82px;
}
.page-padding {
padding: 30px 0;
}

