
* {font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #373737;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
   font-size: 80px;
    margin-top: 68px;
    text-decoration: none;
}

.logo-color {
    color: deepskyblue;
}
.header-menu {
    text-align: center;
    margin-top: 38px;
    background: #35444F;
    display: flex;
    justify-content: center;
    font-size: 27px;
    list-style-type: none;
    margin-bottom: 50px;

}

.header-item {
    color: #FFFFFF;
    border: 1px solid;
    background: #485863;
    padding: 20px 30px;
}
.header-item:hover {
    background: #222F3A;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    border: 1px solid darkgrey;
    width: 344px;
    font-size: 27px;
    list-style: none;

}
.sidebar-item {
    color: #485863;
    padding: 20px 35px;
}
.sidebar-item:hover {
   padding-left: 50px;
    color: black;
    background: #DBDBDB;
}
.content-article {
width: 855px;
}
.content-img-wrapper  {
    box-sizing: border-box;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40;
    border: 1px solid;

}
.content-img {

}

.content-text {
    margin-top: 35px;
    font-size: 18px;
}
.bottom {
    margin-top: 55px;
    padding: 20px 40px;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

}
.bottom-nav {
     font-size: 27px;
     list-style: none;
    display: flex;


 }
.bottom-nav-item {
    color: #010101;
    margin-right: 30px;
}
.bottom-nav-item:hover {
    color: blue;
    text-decoration: underline;
}

.bottom-text {
    font-size: 24px;
    color: #010101;
}